<div class="col-md-3 col-sm-12 col-xs-12 mb-4">
    <aside class="user-panel-sidebar box-shadow">
        <section class="access-menu">
            <ul>
                <li><a href="/UserPanel/Index">داشبورد</a></li>
                <li><a href="/UserPanel/ChangePassword">تغییر کلمه عبور</a></li>
                <li><a href="/UserPanel/GetFactors">فاکتورها</a></li>
                <li><a href="/UserPanel/PurchaseProducts">محصولات خریداری شده</a></li>
                <li><a href="/Account/SignOut">خروج از حساب کاربری</a></li>
            </ul>
        </section>
    </aside>
</div>