<!DOCTYPE html>
<html lang="pr" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Content/img/Logo.png">
    <!--Bootsrap css-->
    <link rel="stylesheet" href="/Content/css/bootstrap.rtl.min.css">
    <!--Main css-->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!--Font awesome-->
    <script src="/Content/js/all.js"></script>
    <!--Owl carousel css-->
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <!--Owl theme css-->
    <link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
    <!--Jquery-->
    <script src="/Content/js/jquery-3.5.1 - min.js"></script>
    <!--Owl carousel Js-->
    <script src="/Content/js/owl.carousel.min.js"></script>


    <title>شهر چاپ</title>
</head>

<body>
    <!--Header-->
    <header class="main-navigation">
        <div class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item my-2 my-lg-1">
                        <a class="navbar-brand order-2 order-lg-1 mr-auto mr-lg-3 ml-3 ml-lg-0" href="/">
                            <img src="/Content/img/Logo.png"
                                 width="50" height="50">
                        </a>
                    </li>
                    <li>
                        <a href="/"><h1 class="d-none d-lg-block">شهر <span>چاپ</span></h1></a>
                    </li>
                    <li class="nav-item px-2">
                        <button class="navbar-toggler my-3" type="button">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                    </li>
                </ul>
                <ul class="nav">
                    @Html.Partial("_LoggedInUser")
                    <li class="nav-item"> |
                        <a href="/ShopCart" class="btn btn-primary navbar-link register-button position-relative btn-sm">
                            سبد خرید <i class="fas fa-shopping-cart"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="countShopCart">
                                <span class="visually-hidden">محصول سبد خرید</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Nav Overlay-->
        <div class="nav-overlay d-flex d-lg-none"></div>
        <!--End Nav Overlay-->
        <!--Nav element-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="order-lg-2 bg-light d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                    <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="/"> صفحه اصلی</a>
                        </li>
                        @*@Html.Action("ShowGroups", "SchoolTools")*@
                        <li class="nav-item">
                            <a class="nav-link px-3 px-lg-2" href="/Archive">لوازم تحریر</a>
                        </li>
                        <li class="nav-item dropdown product-menu">
                            <a class="nav-link px-3 px-lg-2" aria-current="page" href="/ArchiveOrder">سفارش محصول</a>
                        </li>
                        @*<li class="nav-item dropdown product-menu">
                                <a class="nav-link px-3 px-lg-2" aria-current="page" href="/Print">سفارش پرینت</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link px-3 px-lg-2" href="/AboutUs">درباره ما</a>
                        </li>

                    </ul>

                    <form action="/Search" method="get" class="search-box">
                        <input type="text" class="input" name="q" placeholder="جستجو در محصولات ...">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

            </div>
        </nav>
        <!--End Nav element-->
    </header>
    <!--End Header-->
    <!--Sections-->
    <section>
        <!--Slider-->
        @RenderSection("Slider", false)
        <!--End Slider-->

        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!--End Sections-->
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">

                <!-- Section: Text -->
                <section class="mb-4">

                    <!-- Section: Links -->
                    <section class="">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">شهر چاپ</h5>

                                <h6 class="list-unstyled mb-0">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                </h6>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">
                                    تماس با ما
                                    <i class="fas fa-address-book"></i>
                                </h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#!" class="text-white">تلفن:</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">031-312345</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">اینستاگرام</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">تلگرام</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">
                                    آدرس
                                    <i class="fas fa-map-marked-alt"></i>
                                </h5>

                                <h6 class="list-unstyled mb-0">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </h6>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">
                                    ساعت کاری
                                    <i class="fas fa-clock"></i>
                                </h5>

                                <h6 class="list-unstyled mb-0">
                                    صبح ها از ساعت 8:30 تا 14
                                    بعداز ظهر ها از ساعت 15 تا 17:30
                                </h6>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                    </section>
                </section>
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="pb-2" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="text-center p-2">
                تمامی حقوق مادی و معنوی این سایت متعلق به <span class="copyright-title fw-bold">شهر چاپ</span> می باشد و هرگونه کپی برداری
                غیرقانونی محسوب خواهد شد
            </div>
            <div class="text-center pb-2">
                توسعه دهنده: <a href="#" style="color: white;">علیرضا هادیان</a>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>
</html>

<script src="/Content/js/bootstrap.bundle.min.js"></script>
<script src="/Content/js/swiped-events.min.js"></script>
<script src="/Content/js/script.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

    $(function () {
        countShopCart();
        //updateShopCart();
        });

    function countShopCart() {
        $.get("/Api/Shop", function (res) {
            $("#countShopCart").html(res);
        });
    }
    function AddToCart(id, count) {
        $.get("/Api/Shop/" + id + "?count=" + count, function (res) {
            $("#countShopCart").html(res);
            //updateShopCart();
        });
    }
</script>