@model ViewModels.ForgotPasswordViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal internal-style">
    <div class="register-page">
        <ol class="breadcrumb my-5">
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item"><a href="#">محصولات</a></li>
            <li class="breadcrumb-item active" aria-current="page">چاپ و تکثیر شهر چاپ</li>
        </ol>

        <div class="register-form">
            <div class="register-title text-center pb-2">
                <h2 class="">فراموشی کلمه عبور</h2>
                <img src="~/Content/img/Forgot Password.png" class="img-fluid" alt="">
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="input-element">
                    <i class="fas fa-phone"></i>
                    @Html.EditorFor(model => model.EmailOrPhone, new { htmlAttributes = new { @placeholder = "ایمیل / شماره موبایل", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailOrPhone, "", new { @class = "text-danger" })
                </div>
            </div>


            @*Html.HiddenFor(model => model.GoogleCaptchaToken)*@

            <div class="form-group">
                <div class="pt-2">
                    <input type="submit" class="register-btn" value="ارسال" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
            </div>
        </div>
    </div>
</div>
}
