@model IEnumerable<DataLayer.Product_Groups>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="group_@item.GroupID">
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a class="btn btn-warning btn-sm" onclick="Edit(@item.GroupID)">
                    <i class="fa fa-fw fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" onclick="Delete(@item.GroupID)">
                    <i class="fa fa-fw fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
