
@{
    ViewBag.Title = "پنل مدیریت شهر چاپ";
}

@Html.Action("info")

<div class="row">
    <div class="border-5 shadow col-lg-2 col-md-2 col-sm-4">
        @Html.Action("VisitSite")
    </div>
    @*<div class="border-1 shadow col-lg-8 col-md-8 col-sm-12">
        @Html.Action("ProgressInfo")
    </div>*@
</div>